body {
    width: 300px;
    height: 300px;
    
    display: flex;
    justify-content: center;
    background-image: url('back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: rgb(63, 54, 20);
    border-radius: 6px;
 background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 60px );
    -webkit-backdrop-filter: blur( 40px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
}